<% include partials/head%>
<style>

@media (max-width: 768px) {
	.feed-box{
		padding: 0px;
	}

	.feed-child{
		padding: 25px;
	}
  }
</style>

<div class="header-spacer"></div>
<div class="container" style="width:100%;">
	<div class="container">
	<div class="row">
		<div class="col col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="ui-block">
				<div class="top-header">
					<div class="top-header-thumb">
						<img src="/images/img/top-header1.jpeg" alt="nature">
					</div>
					<div class="profile-section">
						<div class="row">
							<div class="col col-lg-5 col-md-5 col-sm-12 col-12">
								<ul class="profile-menu">
									<li>
										<a onclick="return request('//pinfo')" href="#" class="active">Timeline</a>
									</li>
									<li>
										<a href="/about/<%=Exterior.firstname%>">About</a>
									</li>
									<li>
										<a href="profilefriend.php">Friends</a>
									</li>
								</ul>
							</div>
							<div class="col col-lg-5 ml-auto col-md-5 col-sm-12 col-12">
								<ul class="profile-menu">
									<li>
										<a href="/photo_of/<%=Exterior.firstname%>">Photos</a>
									</li>
									<li>
										<div class="more">
											<svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
											<ul class="more-dropdown more-with-triangle">
												<li>
													<a href="#">Report Profile</a>
												</li>
												<li>
													<a href="#">Block Profile</a>
												</li>
											</ul>
										</div>
									</li>
								</ul>
							</div>
						</div>

						<div class="control-block-button">
							<a href="friendreq.php" class="btn btn-control bg-blue">
								<svg class="olymp-happy-face-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-happy-face-icon"></use></svg>
							</a>

							<a href="#" class="btn btn-control bg-purple">
								<svg class="olymp-chat---messages-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
							</a>

							<div class="btn btn-control bg-primary more">
								<svg class="olymp-settings-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-settings-icon"></use></svg>

								<ul class="more-dropdown more-with-triangle triangle-bottom-right">
									<li>
										<a href="#" data-toggle="modal" data-target="#update-header-photo">Update Profile Photo</a>
									</li>
									<li>
										<a href="#" data-toggle="modal" data-target="#update-header-photo">Update Header Photo</a>
									</li>
									<li>
										<a href="accontset1.php">Account Settings</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="top-header-author">
						<a href="userprofile.php" class="author-thumb">
							<img class="" style="background-size:cover;background-position:center;background-repeat:no-repeat;width: 100%;height: 100%;border-radius: 100%" src="/images/users_profile_pictures/<%=Exterior.avatar%>" alt="author">
						</a>
						<div class="author-content">
							<a href="userprofile.php" class="h4 author-name"><%=Exterior.firstname%> <%=Exterior.lastname%></a>
							<div class="country"><%=Exterior.Country%> <%=Exterior.Province%> <%=Exterior.City%></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<div id="sideoo" class="row">

		<!-- Main Content -->

		<main class="col col-xl-6 order-xl-2 col-lg-12 order-lg-1 col-md-12 col-sm-12 col-12" style="">
				

			<div class="ui-block">
				
				<!-- News Feed Form  -->
				
				<div class="news-feed-form">
					<!-- Nav tabs -->
					<ul class="nav nav-tabs" role="tablist">
						<li class="nav-item">
							<a class="nav-link active inline-items" data-toggle="tab" href="#home-1" role="tab" aria-expanded="true">
				
								<svg class="olymp-status-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-status-icon"></use></svg>
				
								<span>Status</span>
							</a>
						</li>
						
						
					<!-- Tab panes -->
					<div class="tab-content">
						<div class="tab-pane active" id="home-1" role="tabpanel" aria-expanded="true">
							<form action="/post" method="post" enctype="multipart/form-data">
								<div class="author-thumb">
									<img src="/images/users_profile_pictures/<%=Interior.avatar%>" alt="author" class="avatar" style="width:40px;height:40px;">
								</div>
								<div class="form-group with-icon label-floating is-empty">
									<label class="control-label">Share what you are thinking here...</label>
									<textarea name="postcontent" class="form-control" placeholder=""></textarea>
								</div>
								
								<div class="add-options-message">
									<a onclick="" href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="ADD PHOTOS">
										<svg class="olymp-camera-icon" data-toggle="modal" data-target="#update-header-photo"><use xlink:href="svg-icons/sprites/icons.svg#olymp-camera-icon"></use></svg>
									</a>
									<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="TAG YOUR FRIENDS">
										<svg class="olymp-computer-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-computer-icon"></use></svg>
									</a>
									<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="TAG YOUR FRIENDS">
										<input name="text" class="form-control js-user-search" placeholder="Tag Friends" ></input>
									</a>
									<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="ADD LOCATION">
										<svg class="olymp-small-pin-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-small-pin-icon"></use></svg>
									</a>
				
									<button type="submit" class="btn btn-primary btn-md-2">Post Status</button>
									
								</div>

								<!-- Window-popup Update Header Photo -->

<div class="modal fade" id="update-header-photo" tabindex="-1" role="dialog" aria-labelledby="update-header-photo" aria-hidden="true">
	<div class="modal-dialog window-popup update-header-photo" role="document">
		<div class="modal-content">
			<a href="#" class="close icon-close" data-dismiss="modal" aria-label="Close">
				<svg class="olymp-close-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
			</a>

			<div class="modal-header">
				<h6 class="title">Update Header Photo</h6>
			</div>

			<div class="modal-body">
				<a href="#" class="upload-photo-item">
				<svg class="olymp-computer-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-computer-icon"></use></svg>

				<h6>Upload Photo</h6>
				<span>Browse your computer.</span>
				<input type="file" name="file" multiple/>
			</a>

				<a href="#" class="upload-photo-item" data-toggle="modal" data-target="#choose-from-my-photo">

			<svg class="olymp-photos-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-photos-icon"></use></svg>

			<h6>Choose from My Photos</h6>
			<span>Choose from your uploaded photos</span>
		</a>
			</div>
		</div>
	</div>
</div>


<!-- ... end Window-popup Update Header Photo -->
				
							</form>
						</div>
				
						<div class="tab-pane" id="profile-1" role="tabpanel" aria-expanded="true">
							<form>
								<div class="author-thumb">
									<img src="img/author-page.jpg" alt="author">
								</div>
								<div class="form-group with-icon label-floating is-empty">
									<label class="control-label">Share what you are thinking here...</label>
									<textarea class="form-control" placeholder=""  ></textarea>
								</div>
								<div class="add-options-message">
									<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="ADD PHOTOS">
										<svg class="olymp-camera-icon" data-toggle="modal" data-target="#update-header-photo"><use xlink:href="svg-icons/sprites/icons.svg#olymp-camera-icon"></use></svg>
									</a>
									<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="TAG YOUR FRIENDS">
										<svg class="olymp-computer-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-computer-icon"></use></svg>
									</a>
				
									<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="ADD LOCATION">
										<svg class="olymp-small-pin-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-small-pin-icon"></use></svg>
									</a>
				
									<button class="btn btn-primary btn-md-2">Post Status</button>
									
				
								</div>
				
							</form>
						</div>
				
						<div class="tab-pane" id="blog" role="tabpanel" aria-expanded="true">
							<form>
								<div class="author-thumb">
									<img src="img/author-page.jpg" alt="author">
								</div>
								<div class="form-group with-icon label-floating is-empty">
									<label class="control-label">Share what you are thinking here...</label>
									<textarea class="form-control" placeholder=""  ></textarea>
								</div>
								<div class="add-options-message">
									<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="ADD PHOTOS">
										<svg class="olymp-camera-icon" data-toggle="modal" data-target="#update-header-photo"><use xlink:href="svg-icons/sprites/icons.svg#olymp-camera-icon"></use></svg>
									</a>
									<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="TAG YOUR FRIENDS">
										<svg class="olymp-computer-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-computer-icon"></use></svg>
									</a>
				
									<a href="#" class="options-message" data-toggle="tooltip" data-placement="top"   data-original-title="ADD LOCATION">
										<svg class="olymp-small-pin-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-small-pin-icon"></use></svg>
									</a>
				
									<button class="butle btn-md-2">Post Status</button>
				
								</div>
				
							</form>
						</div>
					</div>
				</div>
				
				<!-- ... end News Feed Form  -->			</div>
				<div id="viewpost"></div>

				<div id="newsfeed-items-grid">
					<div id="return"></div>
					<%
					for (const [key, value] of Object.entries(Feeds)) {
						var file = '';
					%>
	
	
	
	
	
	
	
					
					<!--
					////////////////// START OF POST lOOP/////////////////////////////////
					-->
	
					<%
					if(typeof value.posts === 'object' && typeof value.timelines.Tip !== 'undefined'){
					%>
	
					<div class="ui-block">
						<!-- Post -->
						
						<article class="hentry post has-post-thumbnail shared-photo">
						
								<div class="post__author author vcard inline-items">
									<img src="/images/users_profile_pictures/<%=value.alternates[0].avatar%>" alt="author">
						
									<div class="author-date">
										<a class="h6 post__author-name fn" href="userprofile.php"><%=value.alternates[0].firstname%> <%=value.alternates[0].lastname%></a> shared
										<a href="#"><%=value.users.firstname%> <%=value.users.lastname%></a>’s <a href="#">post</a>
										
										<% if(Interior._id === value.timelines.to_author) { %>
							
										To your Timeline
										<% } %>
										
										<div class="post__date">
											<time class="published" datetime="2017-03-24T18:18">
												<%=value.timelines.time%>
											</time>
										</div>
									</div>
						
									<div class="more">
										<svg class="olymp-three-dots-icon">
											<use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
										</svg>
										<ul class="more-dropdown">
											<li>
												<a href="#">Edit Post</a>
											</li>
											<li>
												<a href="#">Delete Post</a>
											</li>
											<li>
												<a href="#">Turn Off Notifications</a>
											</li>
											<li>
												<a href="#">Select as Featured</a>
											</li>
										</ul>
									</div>
						
								</div>
						
								<p><%=value.timelines.Tip%></p>
						
								<%
								if(value.posts.Media.File.length > 0){
									file = value.posts.Media.File[0].File;
								%>
								<div class="post-thumb"  onclick="return panel('<%=value.timelines._id%>')" ondblclick="return like('<%=value.metaactivities._id%>')">
								<%
								if(value.posts.Media.File[0].Type === 'video'){
								%>
								<span class="play-video">
									<svg class="olymp-play-icon">
										<use xlink:href="svg-icons/sprites/icons.svg#olymp-play-icon"></use>
									</svg>
								</span>
									<video style="background-size:cover;background-position:center;background-repeat:no-repeat;width: 100%;height: 100%" src="/images/post/<%=value.posts.Media.File[0].File%>" alt="photo">
										
								<%
								}else{
								%>
									<img src="/images/post/<%=value.posts.Media.File[0].File%>" alt="photo">
								<%
								}
								%>
								</div>
								<%
								}
								%>
						
								<ul class="children single-children">
									<li class="comment-item">
										<div class="post__author author vcard inline-items">
											<img src="/images/users_profile_pictures/<%=value.users.avatar%>" alt="author">
											<div class="author-date">
												<a class="h6 post__author-name fn" href="#"><%=value.users.firstname%> <%=value.users.lastname%></a>
												<div class="post__date">
													<time class="published" datetime="2017-03-24T18:18">
														<%=value.posts.time%>
													</time>
												</div>
											</div>
										</div>
						
										<p style="font-size: <%=value.posts.postcontent[0].fontsize%>; text-align: center"><%=value.posts.postcontent[0].text%></p>
									</li>
								</ul>
						
								<div class="post-additional-info inline-items">
						
									<a href="return like('<%=value.metaactivities._id%>')" class="post-add-icon inline-items">
										<svg class="olymp-heart-icon">
											<use xlink:href="/svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
										</svg>
										<span><%=value.metaactivities.Activities.Likes.length%></span>
									</a>
						
									<ul class="friends-harmonic">
											<%
											var show=0;
											var like = value.metaactivities.Activities.Likes.length;
											for (const [lik, like] of Object.entries(value.metaactivities.Activities.Likes)) {
												show++;
												if(show === 4){
													break;
													
												}
												
											%>
										<li>
											<a href="#">
												<img src="/images/users_profile_pictures/<%=like.pack.avatar%>" alt="friend">
											</a>
										</li>
										<%
											}
										%>
									</ul>
						
									<div class="names-people-likes">
											<% if(like > 0){ %>
										<a href="#"><%=value.metaactivities.Activities.Likes[0].pack.firstname%></a>, 
										<a href="#"><%=value.metaactivities.Activities.Likes[0].pack.lastname%></a> 

										<% if(like > 1){ %>
											and
										<br><%=like - 1%> more  
										<% } %>
										liked this
										<% } else { %>
											Be the first to like this
										<%}%>
										
									</div>
						
						
									<div class="comments-shared">
										<a href="#" class="post-add-icon inline-items">
											<svg class="olymp-speech-balloon-icon">
												<use xlink:href="/svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use>
											</svg>
											<span><%=value.metaactivities.Activities.comments.length%></span>
										</a>
						
										<a onclick="return share_dialog('<%=value.posts._id%>','<%=value.posts.postcontent[0].text%>','<%=file%>')" data-toggle="modal" data-target="#choose-from-my-photo" class="post-add-icon inline-items">
											<svg class="olymp-share-icon">
												<use xlink:href="/svg-icons/sprites/icons.svg#olymp-share-icon"></use>
											</svg>
											<span><%=value.metaactivities.Activities.shares.length%></span>
										</a>
									</div>
						
						
								</div>
						
								<div class="control-block-button post-control-button">
						
									<a href="#" class="btn btn-control">
										<svg class="olymp-like-post-icon">
											<use xlink:href="svg-icons/sprites/icons.svg#olymp-like-post-icon"></use>
										</svg>
									</a>
						
									<a href="#" class="btn btn-control">
										<svg class="olymp-comments-post-icon">
											<use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
										</svg>
									</a>
						
									<a   onclick="return share_dialog('<%=value.posts._id%>','<%=value.posts.postcontent[0].text%>','<%=file%>')" data-toggle="modal" data-target="#choose-from-my-photo"  class="btn btn-control">
										<svg class="olymp-share-icon">
											<use xlink:href="svg-icons/sprites/icons.svg#olymp-share-icon"></use>
										</svg>
									</a>
						
								</div>
								<div class="control-block-button post-control-button">
						
									<a href="#" class="btn btn-control featured-post">
										<svg class="olymp-trophy-icon">
											<use xlink:href="/svg-icons/sprites/icons.svg#olymp-trophy-icon"></use>
										</svg>
									</a>
						
									<a href="/post/like/<%=value.metaactivities._id%>" class="btn btn-control">
										<svg class="olymp-like-post-icon">
											<use xlink:href="/svg-icons/sprites/icons.svg#olymp-like-post-icon"></use>
										</svg>
									</a>
						
									<a href="#" class="btn btn-control">
										<svg class="olymp-comments-post-icon">
											<use xlink:href="/svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
										</svg>
									</a>
						
									<a   onclick="return share_dialog('<%=value.posts._id%>','<%=value.posts.postcontent[0].text%>','<%=file%>')" data-toggle="modal" data-target="#choose-from-my-photo"  class="btn btn-control" data-toggle="modal" data-target="#choose-from-my-photo">
										<svg class="olymp-share-icon">
											<use xlink:href="/svg-icons/sprites/icons.svg#olymp-share-icon"></use>
										</svg>
									</a>
						
								</div>
						
							</article>
													<!--
							//////////////////START COMMENT DIALOG/////////////////////////////////
							-->
							<%
							i=2
							if(value.metaactivities.Activities.comments.length > 0){
							%>
	
							
							<!-- Comments -->
						
						<ul class="comments-list">
							<%
							var show=0;
							for (const [ke, comment] of Object.entries(value.metaactivities.Activities.comments)) {
								show++;
								if(show === 4){
									break;
									
								}
								
							%>
							<% var background = Interior._id === comment.judge ? '#f7f7f7' : ''; %>
							<li style="background:<%=background%>" class="comment-item">
								<div class="post__author author vcard inline-items">
									<img src="/images/users_profile_pictures/<%=comment.pack.avatar%>" alt="author">
						
									<div class="author-date">
										<a class="h6 post__author-name fn" href="#"><%=comment.pack.firstname%> <%=comment.pack.lastname%></a>
										<div class="post__date">
											<time class="published" datetime="2017-03-24T18:18">
												<%=comment.time%>
											</time>
										</div>
									</div>
						
									<a href="#" class="more">
										<svg class="olymp-three-dots-icon">
											<use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
										</svg>
									</a>
						
								</div>
						
								<p style="font-size: 17px;"><%=comment.text%></p>
						
								<a href="#" class="post-add-icon inline-items">
									<svg class="olymp-heart-icon">
										<use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
									</svg>
									<span>8</span>
								</a>
								<a href="#" class="reply">Reply</a>
							</li>
							<%}%>
						</ul>
						
						<!-- ... end Comments -->
						<a href="#" class="more-comments">View more comments <span>+</span></a>
						
						<!-- Comment Form  -->
						
						<form action="/post/comment_on/<%=value.metaactivities._id%>" class="comment-form inline-items" method="POST">
						
							<div class="post__author author vcard inline-items">
								<img src="/images/users_profile_pictures/<%=Interior.avatar%>" alt="author">
						
								<div class="form-group with-icon-right ">
									<textarea name="text" class="form-control" placeholder=""></textarea>
									<div class="add-options-message">
										<a href="#" class="options-message" data-toggle="modal" data-target="#update-header-photo">
											<svg class="olymp-camera-icon">
												<use xlink:href="svg-icons/sprites/icons.svg#olymp-camera-icon"></use>
											</svg>
										</a>
									</div>
								</div>
							</div>
						
							<button type="submit" class="btn btn-md-2 btn-primary">Post Comment</button>
						
							<button class="btn btn-md-2 btn-border-think c-grey btn-transparent custom-color">Cancel</button>
						
						</form>
						
						<!-- ... end Comment Form  -->
							<!--
								////////////////// END COMMENT DIALOG/////////////////////////////////
							-->
							<%}%>
						
						<!-- .. end Post -->				</div>
	
					<%
					}
					%>
	
	
	
	
					<%
					if(typeof value.posts === 'object' && typeof value.timelines.Tip === 'undefined'){
						var p =  JSON.stringify(value);
					%>
					<div class="ui-block">
						<!-- Post -->
						
						<article class="hentry post feed-box">
						
								<div class="post__author author vcard inline-items feed-child">
									<img src="/images/users_profile_pictures/<%=value.users.avatar%>" alt="author">
						
									<div class="author-date">
										<a class="h6 post__author-name fn" href="userprofile.php"><%=value.users.firstname+' '+value.users.lastname%></a>
										<div class="post__date">
											<time class="published" datetime="2017-03-24T18:18">
												<%=value.posts.time%>
											</time>
										</div>
									</div>
						
									<div class="more">
										<svg class="olymp-three-dots-icon">
											<use xlink:href="/svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
										</svg>
										<ul class="more-dropdown">
											<li>
												<a href="#">Edit Post</a>
											</li>
                                            <%
                                            
                                            if(value.posts.author.toString === value.users._id){
                                            %>
											<li>
												<a href="post/delete/<%=value.timelines._id%>">Delete Post</a>
											</li>
                                            <%}%>
											<li>
												<a href="#">Turn Off Notifications</a>
											</li>
											<li>
												<a href="#">Select as Featured</a>
											</li>
										</ul>
									</div>
						
								</div>
	
								<%
								if(value.posts.Media.File.length > 0){
									file = value.posts.Media.File[0].File;
								%>
								<div class="post-thumb" onclick="return panel('<%=p%>')"  ondblclick="return like('<%=value.metaactivities._id%>')">
								<%
								if(value.posts.Media.File[0].Type === 'video'){
								%>
								<span  class="play-video">
									<svg class="olymp-play-icon">
										<use xlink:href="svg-icons/sprites/icons.svg#olymp-play-icon"></use>
									</svg>
								</span>
									<video style="background-size:cover;background-position:center;background-repeat:no-repeat;width: 100%;height: 100%;padding:0px;" src="/images/post/<%=value.posts.Media.File[0].File%>"  alt="photo">
								<%
								}else{
								%>
									<img style="" src="/images/post/<%=value.posts.Media.File[0].File%>" alt="photo">
								<%
								}
								%>
								</div>
								<%
								}
								%>
								<p style="font-size: <%=value.posts.postcontent[0].fontsize%>; text-align: center"><%=value.posts.postcontent[0].text%></p>
								<div class="feed-child" id="<%=value.metaactivities._id%>">
								<div class="post-additional-info inline-items">
						
									<a onclick="return like('<%=value.metaactivities._id%>')" class="post-add-icon inline-items">
										<svg class="olymp-heart-icon">
											<use xlink:href="/svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
										</svg>
										<span><%=value.metaactivities.Activities.Likes.length%></span>
									</a>
						
									<ul class="friends-harmonic">
											<%
											var show=0;
											var like = value.metaactivities.Activities.Likes.length;
											for (const [lik, like] of Object.entries(value.metaactivities.Activities.Likes)) {
												show++;
												if(show === 4){
													break;
													
												}
												
											%>
										<li>
											<a href="#">
												<img src="/images/users_profile_pictures/<%=like.pack.avatar%>" alt="friend">
											</a>
										</li>
										<%
											}
										%>
									</ul>
						
									<div class="names-people-likes">
											<% if(like > 0){ %>
										<a href="#"><%=value.metaactivities.Activities.Likes[0].pack.firstname%></a>, 
										<a href="#"><%=value.metaactivities.Activities.Likes[0].pack.lastname%></a> 

										<% if(like > 1){ %>
											and
										<br><%=like - 1%> more  
										<% } %>
										liked this
										<% } else { %>
											Be the first to like this
										<%}%>
										
									</div>
						
						
									<div class="comments-shared">
										<a href="#" class="post-add-icon inline-items">
											<svg class="olymp-speech-balloon-icon">
												<use xlink:href="/svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use>
											</svg>
											<span><%=value.metaactivities.Activities.comments.length%></span>
										</a>
						
										<a  onclick="return share_dialog('<%=value.posts._id%>')" data-toggle="modal" data-target="#choose-from-my-photo" class="post-add-icon inline-items">
											<svg class="olymp-share-icon">
												<use xlink:href="/svg-icons/sprites/icons.svg#olymp-share-icon"></use>
											</svg>
											<span><%=value.metaactivities.Activities.shares.length%></span>
										</a>
									</div>
						
						
								</div>
							</div>
						
								<div class="control-block-button post-control-button">
						
									<a href="#" class="btn btn-control featured-post">
										<svg class="olymp-trophy-icon">
											<use xlink:href="/svg-icons/sprites/icons.svg#olymp-trophy-icon"></use>
										</svg>
									</a>
<!--						         /post/like/<=value.metaactivities._id%     -->
									<a onclick="return like('<%=value.metaactivities._id%>')" class="btn btn-control">
										<svg class="olymp-like-post-icon">
											<use xlink:href="/svg-icons/sprites/icons.svg#olymp-like-post-icon"></use>
										</svg>
									</a>
						
									<a href="#" class="btn btn-control">
										<svg class="olymp-comments-post-icon">
											<use xlink:href="/svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
										</svg>
									</a>
						
									<a   onclick="return share_dialog('<%=value.posts._id%>')" data-toggle="modal" data-target="#choose-from-my-photo" class="btn btn-control">
										<svg class="olymp-share-icon">
											<use xlink:href="/svg-icons/sprites/icons.svg#olymp-share-icon"></use>
										</svg>
									</a>
						
								</div>
						
							</article>
	
							<!--
							//////////////////START COMMENT DIALOG/////////////////////////////////
							-->
							<%
							i=2
							if(value.metaactivities.Activities.comments.length > 0){
							%>
	
							
							<!-- Comments -->
						
						<ul class="comments-list">
							<%
							var show=0;
							for (const [ke, comment] of Object.entries(value.metaactivities.Activities.comments)) {
								show++;
								if(show === 4){
									break;
									
								}
								
							%>
							<% var background = Interior._id === comment.judge ? '#f7f7f7' : ''; %>
							<li style="background:<%=background%>" class="comment-item">
								<div class="post__author author vcard inline-items">
									<img src="/images/users_profile_pictures/<%=comment.pack.avatar%>" alt="author">
						
									<div class="author-date">
										<a class="h6 post__author-name fn" href="#"><%=comment.pack.firstname%> <%=comment.pack.lastname%></a>
										<div class="post__date">
											<time class="published" datetime="2017-03-24T18:18">
												<%=comment.time%>
											</time>
										</div>
									</div>
						
									<a href="#" class="more">
										<svg class="olymp-three-dots-icon">
											<use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
										</svg>
									</a>
						
								</div>
						
								<p style="font-size: 17px;"><%=comment.text%></p>
						
								<a href="#" class="post-add-icon inline-items">
									<svg class="olymp-heart-icon">
										<use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
									</svg>
									<span>8</span>
								</a>
								<a href="#" class="reply">Reply</a>
							</li>
							<%}%>
						</ul>
						
						<!-- ... end Comments -->
						<a href="#" class="more-comments">View more comments <span>+</span></a>
						
						<!-- Comment Form  -->
						
						<form action="/post/comment_on/<%=value.metaactivities._id%>" class="comment-form inline-items" method="POST">
						
							<div class="post__author author vcard inline-items">
								<img src="/images/users_profile_pictures/<%=Interior.avatar%>" alt="author">
						
								<div class="form-group with-icon-right ">
									<textarea name="text" class="form-control" placeholder=""></textarea>
									<div class="add-options-message">
										<a href="#" class="options-message" data-toggle="modal" data-target="#update-header-photo">
											<svg class="olymp-camera-icon">
												<use xlink:href="svg-icons/sprites/icons.svg#olymp-camera-icon"></use>
											</svg>
										</a>
									</div>
								</div>
							</div>
						
							<button type="submit" class="btn btn-md-2 btn-primary">Post Comment</button>
						
							<button class="btn btn-md-2 btn-border-think c-grey btn-transparent custom-color">Cancel</button>
						
						</form>
						
						<!-- ... end Comment Form  -->
							<!--
								////////////////// END COMMENT DIALOG/////////////////////////////////
							-->
							<%}%>
	
	
	
	
	
						
					</div>
						<%}%>
						<!--
							////////////////// END OF POST lOOP/////////////////////////////////
						-->
						<%}%>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
						
					<div class="ui-block">
						
						<!-- Post -->
						
						<article class="hentry post video">
						
								<div class="post__author author vcard inline-items">
									<img src="/images/img/author-page.jpg" alt="author">
						
									<div class="author-date">
										<a class="h6 post__author-name fn" href="userprofile.php">Frank Designs</a> shared a
										<a href="#">link</a>
										<div class="post__date">
											<time class="published" datetime="2017-03-24T18:18">
												7 hours ago
											</time>
										</div>
									</div>
						
									<div class="more">
										<svg class="olymp-three-dots-icon">
											<use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
										</svg>
										<ul class="more-dropdown">
											<li>
												<a href="#">Edit Post</a>
											</li>
											<li>
												<a href="#">Delete Post</a>
											</li>
											<li>
												<a href="#">Turn Off Notifications</a>
											</li>
											<li>
												<a href="#">Select as Featured</a>
											</li>
										</ul>
									</div>
						
								</div>
						
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem inventore aliquid at, laudantium culpa blanditiis!</p>
						
								<div class="post-video">
									<div class="video-thumb">
										<img src="img/avatar1-sm.jpg" alt="photo">
										<a href="https://youtube.com/watch?v=excVFQ2TWig" class="play-video">
											<svg class="olymp-play-icon">
												<use xlink:href="svg-icons/sprites/icons.svg#olymp-play-icon"></use>
											</svg>
										</a>
									</div>
						
									<div class="video-content">
										<a href="#" class="h4 title">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</a>
										<p>Lorem ipsum dolor sit amet, consectetur ipisicing elit, sed do eiusmod tempo incididunt ut labore..</p>
										<a href="#" class="link-site">YOUTUBE.COM</a>
									</div>
								</div>
						
								<div class="post-additional-info inline-items">
						
									<a href="#" class="post-add-icon inline-items">
										<svg class="olymp-heart-icon">
											<use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
										</svg>
										<span>15</span>
									</a>
						
									<ul class="friends-harmonic">
										<li>
											<a href="#">
												<img src="img/friend-harmonic1.jpg" alt="friend">
											</a>
										</li>
										<li>
											<a href="#">
												<img src="img/friend-harmonic1.jpg" alt="friend">
											</a>
										</li>
										<li>
											<a href="#">
												<img src="img/friend-harmonic1.jpg" alt="friend">
											</a>
										</li>
										<li>
											<a href="#">
												<img src="img/friend-harmonic1.jpg" alt="friend">
											</a>
										</li>
										<li>
											<a href="#">
												<img src="img/friend-harmonic1.jpg" alt="friend">
											</a>
										</li>
									</ul>
						
									<div class="names-people-likes">
										<a href="#">Jenny</a>, <a href="#">Robert</a> and
										<br>13 more liked this
									</div>
						
									<div class="comments-shared">
										<a href="#" class="post-add-icon inline-items">
											<svg class="olymp-speech-balloon-icon">
												<use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use>
											</svg>
											<span>1</span>
										</a>
						
										<a href="#" class="post-add-icon inline-items">
											<svg class="olymp-share-icon">
												<use xlink:href="svg-icons/sprites/icons.svg#olymp-share-icon"></use>
											</svg>
											<span>16</span>
										</a>
									</div>
						
						
								</div>
						
								<div class="control-block-button post-control-button">
						
									<a href="#" class="btn btn-control">
										<svg class="olymp-like-post-icon">
											<use xlink:href="svg-icons/sprites/icons.svg#olymp-like-post-icon"></use>
										</svg>
									</a>
						
									<a href="#" class="btn btn-control">
										<svg class="olymp-comments-post-icon">
											<use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use>
										</svg>
									</a>
						
									<a href="#" class="btn btn-control">
										<svg class="olymp-share-icon">
											<use xlink:href="svg-icons/sprites/icons.svg#olymp-share-icon"></use>
										</svg>
									</a>
						
								</div>
						
							</article>
						
						<!-- .. end Post -->				</div>
	
				</div>

			<a id="load-more-button" href="#" class="btn btn-control btn-more" data-load-link="items-to-load.html" data-container="newsfeed-items-grid"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg></a>

		</main>

		<!-- ... end Main Content -->

<aside class="row" ></aside>

	</div>
</div>



<!-- Fixed Sidebar Right -->

<div class="fixed-sidebar right">
	<div class="fixed-sidebar-right sidebar--small" id="sidebar-right">

		<div class="mCustomScrollbar" data-mcs-theme="dark">
			<ul class="chat-users">
				<li class="inline-items js-chat-open">
					<div class="author-thumb">
						<img alt="author" src="/images/img/avatar1-sm.jpg" class="avatar">
						<span class="icon-status online"></span>
					</div>
				</li>
				<li class="inline-items js-chat-open">
					<div class="author-thumb">
						<img alt="author" src="/images/img/avatar1-sm.jpg" class="avatar">
						<span class="icon-status online"></span>
					</div>
				</li>

				<li class="inline-items js-chat-open">
					<div class="author-thumb">
						<img alt="author" src="/images/img/avatar1-sm.jpg" class="avatar">
						<span class="icon-status online"></span>
					</div>
				</li>

				<li class="inline-items js-chat-open">
					<div class="author-thumb">
						<img alt="author" src="/images/img/avatar1-sm.jpg" class="avatar">
						<span class="icon-status away"></span>
					</div>
				</li>

				<li class="inline-items js-chat-open">
					<div class="author-thumb">
						<img alt="author" src="/images/img/avatar1-sm.jpg" class="avatar">
						<span class="icon-status disconected"></span>
					</div>
				</li>
				<li class="inline-items js-chat-open">
					<div class="author-thumb">
						<img alt="author" src="/images/img/avatar1-sm.jpg" class="avatar">
						<span class="icon-status online"></span>
					</div>
				</li>
				<li class="inline-items js-chat-open">
					<div class="author-thumb">
						<img alt="author" src="/images/img/avatar1-sm.jpg" class="avatar">
						<span class="icon-status online"></span>
					</div>
				</li>
				<li class="inline-items js-chat-open">
					<div class="author-thumb">
						<img alt="author" src="/images/img/avatar1-sm.jpg" class="avatar">
						<span class="icon-status away"></span>
					</div>
				</li>
				<li class="inline-items js-chat-open">
					<div class="author-thumb">
						<img alt="author" src="/images/img/avatar1-sm.jpg" class="avatar">
						<span class="icon-status status-invisible"></span>
					</div>
				</li>
				<li class="inline-items js-chat-open">
					<div class="author-thumb">
						<img alt="author" src="/images/img/avatar1-sm.jpg" class="avatar">
						<span class="icon-status away"></span>
					</div>
				</li>
				<li class="inline-items js-chat-open">

					<div class="author-thumb">
						<img alt="author" src="/images/img/avatar1-sm.jpg" class="avatar">
						<span class="icon-status online"></span>
					</div>
				</li>
			</ul>
		</div>

		<div class="search-friend inline-items">
			<a href="#" class="js-sidebar-open">
				<svg class="olymp-menu-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-menu-icon"></use></svg>
			</a>
		</div>

		<a href="#" class="olympus-chat inline-items js-chat-open">
			<svg class="olymp-chat---messages-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
		</a>

	</div>

	<div class="fixed-sidebar-right sidebar--large" id="sidebar-right-1">

		<div class="mCustomScrollbar" data-mcs-theme="dark">

			<div class="ui-block-title ui-block-title-small">
				<a href="#" class="title">Close Friends</a>
				<a href="accontset1.php">Settings</a>
			</div>

			<ul class="chat-users">
				<li class="inline-items js-chat-open">

					<div class="author-thumb">
						<img alt="author" src="/images/img/avatar1-sm.jpg" class="avatar">
						<span class="icon-status online"></span>
					</div>

					<div class="author-status">
						<a href="#" class="h6 author-name">Winfred Wini</a>
						<span class="status">ONLINE</span>
					</div>

					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>

						<ul class="more-icons">
							<li>
								<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="olymp-comments-post-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use></svg>
							</li>

							<li>
								<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="olymp-add-to-conversation-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon"></use></svg>
							</li>

							<li>
								<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"></use></svg>
							</li>
						</ul>

					</div>

				</li>
				<li class="inline-items js-chat-open">

					<div class="author-thumb">
						<img alt="author" src="/images/img/avatar1-sm.jpg" class="avatar">
						<span class="icon-status online"></span>
					</div>

					<div class="author-status">
						<a href="#" class="h6 author-name">soma sarah</a>
						<span class="status">AT WORK!</span>
					</div>

					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>

						<ul class="more-icons">
							<li>
								<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="olymp-comments-post-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use></svg>
							</li>

							<li>
								<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="olymp-add-to-conversation-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon"></use></svg>
							</li>

							<li>
								<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"></use></svg>
							</li>
						</ul>

					</div>

				</li>

				<li class="inline-items js-chat-open">


					<div class="author-thumb">
						<img alt="author" src="/images/img/avatar1-sm.jpg" class="avatar">
						<span class="icon-status away"></span>
					</div>

					<div class="author-status">
						<a href="#" class="h6 author-name">Frank Designs</a>
						<span class="status">AWAY</span>
					</div>

					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>

						<ul class="more-icons">
							<li>
								<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="olymp-comments-post-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use></svg>
							</li>

							<li>
								<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="olymp-add-to-conversation-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon"></use></svg>
							</li>

							<li>
								<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"></use></svg>
							</li>
						</ul>

					</div>


				</li>

				<li class="inline-items js-chat-open">


					<div class="author-thumb">
						<img alt="author" src="/images/img/avatar1-sm.jpg" class="avatar">
						<span class="icon-status disconected"></span>
					</div>

					<div class="author-status">
						<a href="#" class="h6 author-name">Richard Riches</a>
						<span class="status">OFFLINE</span>
					</div>

					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>

						<ul class="more-icons">
							<li>
								<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="olymp-comments-post-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use></svg>
							</li>

							<li>
								<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="olymp-add-to-conversation-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon"></use></svg>
							</li>

							<li>
								<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"></use></svg>
							</li>
						</ul>

					</div>


				</li>
			</ul>


			<div class="ui-block-title ui-block-title-small">
				<a href="#" class="title">MY FAMILY</a>
				<a href="accontset1.php">Settings</a>
			</div>

			<ul class="chat-users">
				<li class="inline-items js-chat-open">

					<div class="author-thumb">
						<img alt="author" src="/images/img/avatar1-sm.jpg" class="avatar">
						<span class="icon-status online"></span>
					</div>

					<div class="author-status">
						<a href="#" class="h6 author-name">Sarah Noni</a>
						<span class="status">ONLINE</span>
					</div>

					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>

						<ul class="more-icons">
							<li>
								<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="olymp-comments-post-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use></svg>
							</li>

							<li>
								<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="olymp-add-to-conversation-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon"></use></svg>
							</li>

							<li>
								<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"></use></svg>
							</li>
						</ul>

					</div>
				</li>
			</ul>


			<div class="ui-block-title ui-block-title-small">
				<a href="#" class="title">UNCATEGORIZED</a>
				<a href="accontset1.php">Settings</a>
			</div>

			<ul class="chat-users">
				<li class="inline-items js-chat-open">

					<div class="author-thumb">
						<img alt="author" src="/images/img/avatar1-sm.jpg" class="avatar">
						<span class="icon-status online"></span>
					</div>

					<div class="author-status">
						<a href="#" class="h6 author-name">Sarah Soma</a>
						<span class="status">ONLINE</span>
					</div>

					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>

						<ul class="more-icons">
							<li>
								<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="olymp-comments-post-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use></svg>
							</li>

							<li>
								<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="olymp-add-to-conversation-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon"></use></svg>
							</li>

							<li>
								<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"></use></svg>
							</li>
						</ul>

					</div>


				</li>
				<li class="inline-items js-chat-open">

					<div class="author-thumb">
						<img alt="author" src="/images/img/avatar1-sm.jpg" class="avatar">
						<span class="icon-status away"></span>
					</div>

					<div class="author-status">
						<a href="#" class="h6 author-name">Sarah Soma</a>
						<span class="status">AWAY</span>
					</div>

					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>

						<ul class="more-icons">
							<li>
								<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="olymp-comments-post-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use></svg>
							</li>

							<li>
								<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="olymp-add-to-conversation-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon"></use></svg>
							</li>

							<li>
								<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"></use></svg>
							</li>
						</ul>

					</div>

				</li>
				<li class="inline-items js-chat-open">

					<div class="author-thumb">
						<img alt="author" src="/images/img/avatar1-sm.jpg" class="avatar">
						<span class="icon-status status-invisible"></span>
					</div>

					<div class="author-status">
						<a href="#" class="h6 author-name">Frank design</a>
						<span class="status">INVISIBLE</span>
					</div>

					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>

						<ul class="more-icons">
							<li>
								<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="olymp-comments-post-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use></svg>
							</li>

							<li>
								<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="olymp-add-to-conversation-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon"></use></svg>
							</li>

							<li>
								<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"></use></svg>
							</li>
						</ul>

					</div>
				</li>
				<li class="inline-items js-chat-open">

					<div class="author-thumb">
						<img alt="author" src="/images/img/avatar1-sm.jpg" class="avatar">
						<span class="icon-status away"></span>
					</div>

					<div class="author-status">
						<a href="#" class="h6 author-name">Richard Riches</a>
						<span class="status">AWAY</span>
					</div>

					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>

						<ul class="more-icons">
							<li>
								<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="olymp-comments-post-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use></svg>
							</li>

							<li>
								<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="olymp-add-to-conversation-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon"></use></svg>
							</li>

							<li>
								<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"></use></svg>
							</li>
						</ul>

					</div>
				</li>
				<li class="inline-items js-chat-open">

					<div class="author-thumb">
						<img alt="author" src="/images/img/avatar1-sm.jpg" class="avatar">
						<span class="icon-status online"></span>
					</div>

					<div class="author-status">
						<a href="#" class="h6 author-name">Sarah Soma</a>
						<span class="status">ONLINE</span>
					</div>

					<div class="more"><svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>

						<ul class="more-icons">
							<li>
								<svg data-toggle="tooltip" data-placement="top" data-original-title="START CONVERSATION" class="olymp-comments-post-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-comments-post-icon"></use></svg>
							</li>

							<li>
								<svg data-toggle="tooltip" data-placement="top" data-original-title="ADD TO CONVERSATION" class="olymp-add-to-conversation-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-add-to-conversation-icon"></use></svg>
							</li>

							<li>
								<svg data-toggle="tooltip" data-placement="top" data-original-title="BLOCK FROM CHAT" class="olymp-block-from-chat-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-block-from-chat-icon"></use></svg>
							</li>
						</ul>

					</div>
				</li>
			</ul>

		</div>

		<div class="search-friend inline-items">
			<form class="form-group" >
				<input class="form-control" placeholder="Search Friends..." value="" type="text">
			</form>

			<a href="accontset1.php" class="settings">
				<svg class="olymp-settings-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-settings-icon"></use></svg>
			</a>

			<a href="#" class="js-sidebar-open">
				<svg class="olymp-close-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-close-icon"></use></svg>
			</a>
		</div>

		<a href="#" class="olympus-chat inline-items js-chat-open">

			<h6 class="olympus-chat-title">GROUP CHAT</h6>
			<svg class="olymp-chat---messages-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-chat---messages-icon"></use></svg>
		</a>

	</div>
</div>

<!-- ... end Fixed Sidebar Right -->

<div id="share_dialog"></div>
<!--preloader-->
<div id="spinner-wrapper">
	<div class="spinner"></div>
  </div>

  <% include partials/footer%>
  
<% include fragments/testpostview%>
<script>
	Load();
</script>


