<% include partials/head%>
	<!-- Responsive Header-BP -->

<!-- ... end Responsive Header-BP -->
<div class="header-spacer header-spacer-small"></div>


<div class="container">
	<div class="row mt50">

		<div class="col col-xl-8 col-lg-8 col-md-12 col-sm-12 col-12">
			<div class="ui-block">

				<!-- Single Post -->
				
				<article class="hentry blog-post single-post single-post-v3">
				
					
				
					<ul class="filter-icons">
						<li>
							<a href="#" class="post-add-icon inline-items">
								<img src="/images/img/icon-chat1.png" alt="icon">
								<span>58</span>
							</a>
						</li>
						<li>
							<a href="#" class="post-add-icon inline-items">
								<img src="/images/img/icon-chat26.png" alt="icon">
								<span>21</span>
							</a>
						</li>
						<li>
							<a href="#" class="post-add-icon inline-items">
								<img src="/images/img/icon-chat15.png" alt="icon">
								<span>3</span>
							</a>
						</li>
					</ul>
					<h1 class="post-title"><%=Newuser.blogs.title%>.</h1>
				
					<div class="author-date">
						<div class="author-thumb">
							<img alt="author" src="/images/img/friend-harmonic1.jpg" class="avatar">
						</div>
						by
						<a class="h6 post__author-name fn" href="#"><%=Newuser.blogs.author%></a>
						<div class="post__date">
							<time class="published" datetime="2018-03-24T18:18">
								-  12 hours ago
							</time>
						</div>
					</div>
				
					<div class="post-thumb">
						<img src="/images/img/post-thumb1.jpg" alt="author">
					</div>
				
					<div class="post-content-wrap">
				
						<div class="control-block-button post-control-button">
				
							<a href="#" class="post-add-icon inline-items">
								<svg class="olymp-speech-balloon-icon"><use xlink:href="/svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
								<span>105</span>
							</a>
				
							<a href="#" class="btn btn-control has-i bg-facebook">
								<i class="fab fa-facebook-f" aria-hidden="true"></i>
							</a>
				
							<a href="#" class="btn btn-control has-i bg-twitter">
								<i class="fab fa-twitter" aria-hidden="true"></i>
							</a>
						</div>
				
						<div class="post-content">
				
							<p>Duis en aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat
								nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia
								deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit
								voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo
								inventore veritatis et quasi hitecto beatae vitae dicta sunt explicabo. Nemo enim ipsam
								voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
								dolores eos qui ratione voluptatem sequi nesciunt Sed ut perspiciatis unde omnis iste natus
								error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae
								ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim
								ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni
								dolores eos qui ratione voluptatem sequi nesciunt.
							</p>

							<h4><a href="www.faceoffblog.com">visit my blog to read more</a></h4>
				
						</div>
					</div>
				
				
					<!-- <div class="choose-reaction reaction-colored">
						<div class="title">Choose your <span>Reaction!</span></div>
				
						<ul>
							<li>
								<a href="#">
									<img src="img/icon-chat13.png" alt="icon" data-toggle="tooltip" data-placement="top" data-original-title="LOL">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/icon-chat15.png" alt="icon" data-toggle="tooltip" data-placement="top" data-original-title="Amazed">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/icon-chat9.png" alt="icon" data-toggle="tooltip" data-placement="top" data-original-title="ANGER">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/icon-chat4.png" alt="icon" data-toggle="tooltip" data-placement="top" data-original-title="joy">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/icon-chat6.png" alt="icon" data-toggle="tooltip" data-placement="top" data-original-title="BAD">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/icon-chat26.png" alt="icon" data-toggle="tooltip" data-placement="top" data-original-title="LIKE">
								</a>
							</li>
							<li>
								<a href="#">
									<img src="img/icon-chat27.png" alt="icon" data-toggle="tooltip" data-placement="top" data-original-title="COOL">
								</a>
							</li>
						</ul>
				
					</div> -->
				</article>
				
				<!-- ... end Single Post -->

				
				<!-- Comments -->
				
				<ul class="comments-list">
					<li class="comment-item">
						<div class="post__author author vcard inline-items">
							<img src="img/avatar1-sm.jpg" alt="author">
				
							<div class="author-date">
								<a class="h6 post__author-name fn" href="#">Sarah Soma</a>
								<div class="post__date">
									<time class="published" datetime="2017-03-24T18:18">
										5 mins ago
									</time>
								</div>
							</div>
				
							<a href="#" class="more">
								<svg class="olymp-three-dots-icon">
									<use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
								</svg>
							</a>
				
						</div>
				
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium der doloremque laudantium.</p>
				
						<a href="#" class="post-add-icon inline-items">
							<svg class="olymp-heart-icon">
								<use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
							</svg>
							<span>8</span>
						</a>
						<a href="#" class="reply">Reply</a>
					</li>
					<li class="comment-item has-children">
						<div class="post__author author vcard inline-items">
							<img src="img/avatar1-sm.jpg" alt="author">
				
							<div class="author-date">
								<a class="h6 post__author-name fn" href="#">Frank Design</a>
								<div class="post__date">
									<time class="published" datetime="2017-03-24T18:18">
										1 hour ago
									</time>
								</div>
							</div>
				
							<a href="#" class="more">
								<svg class="olymp-three-dots-icon">
									<use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
								</svg>
							</a>
				
						</div>
				
						<p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugiten, sed quia
							consequuntur magni dolores eos qui ratione voluptatem sequi en lod nesciunt. Neque porro
							quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur adipisci velit en lorem ipsum der.
						</p>
				
						<a href="#" class="post-add-icon inline-items">
							<svg class="olymp-heart-icon">
								<use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
							</svg>
							<span>5</span>
						</a>
						<a href="#" class="reply">Reply</a>
				
						<ul class="children">
							<li class="comment-item">
								<div class="post__author author vcard inline-items">
									<img src="img/avatar1-sm.jpg" alt="author">
				
									<div class="author-date">
										<a class="h6 post__author-name fn" href="#">Diana Jameson</a>
										<div class="post__date">
											<time class="published" datetime="2017-03-24T18:18">
												39 mins ago
											</time>
										</div>
									</div>
				
									<a href="#" class="more">
										<svg class="olymp-three-dots-icon">
											<use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
										</svg>
									</a>
				
								</div>
				
								<p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
				
								<a href="#" class="post-add-icon inline-items">
									<svg class="olymp-heart-icon">
										<use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
									</svg>
									<span>2</span>
								</a>
								<a href="#" class="reply">Reply</a>
							</li>
							<li class="comment-item">
								<div class="post__author author vcard inline-items">
									<img src="img/avatar1-sm.jpg" alt="author">
				
									<div class="author-date">
										<a class="h6 post__author-name fn" href="#">Nicholas Grisom</a>
										<div class="post__date">
											<time class="published" datetime="2017-03-24T18:18">
												24 mins ago
											</time>
										</div>
									</div>
				
									<a href="#" class="more">
										<svg class="olymp-three-dots-icon">
											<use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
										</svg>
									</a>
				
								</div>
				
								<p>Excepteur sint occaecat cupidatat non proident.</p>
				
								<a href="#" class="post-add-icon inline-items">
									<svg class="olymp-heart-icon">
										<use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
									</svg>
									<span>0</span>
								</a>
								<a href="#" class="reply">Reply</a>
				
							</li>
						</ul>
				
					</li>
				
					<li class="comment-item">
						<div class="post__author author vcard inline-items">
							<img src="img/avatar1-sm.jpg" alt="author">
				
							<div class="author-date">
								<a class="h6 post__author-name fn" href="#">Chris Greyson</a>
								<div class="post__date">
									<time class="published" datetime="2017-03-24T18:18">
										1 hour ago
									</time>
								</div>
							</div>
				
							<a href="#" class="more">
								<svg class="olymp-three-dots-icon">
									<use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use>
								</svg>
							</a>
				
						</div>
				
						<p>Dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit.</p>
				
						<a href="#" class="post-add-icon inline-items">
							<svg class="olymp-heart-icon">
								<use xlink:href="svg-icons/sprites/icons.svg#olymp-heart-icon"></use>
							</svg>
							<span>7</span>
						</a>
						<a href="#" class="reply">Reply</a>
				
					</li>
				</ul>
				
				<!-- ... end Comments -->

				<a href="#" class="more-comments">View more comments <span>+</span></a>

				
				<!-- Comment Form  -->
				
				<form class="comment-form inline-items">
				
					<div class="post__author author vcard inline-items">
						<img src="img/author-page.jpg" alt="author">
				
						<div class="form-group with-icon-right ">
							<textarea class="form-control" placeholder=""></textarea>
							<div class="add-options-message">
								<a href="#" class="options-message" data-toggle="modal" data-target="#update-header-photo">
									<svg class="olymp-camera-icon">
										<use xlink:href="svg-icons/sprites/icons.svg#olymp-camera-icon"></use>
									</svg>
								</a>
							</div>
						</div>
					</div>
				
					<button class="btn btn-md-2 btn-primary">Post Comment</button>
				
					<button class="btn btn-md-2 btn-border-think c-grey btn-transparent custom-color">Cancel</button>
				
				</form>
				
				<!-- ... end Comment Form  -->			</div>
		</div>

		<div class="col col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
			<aside>
				<div class="ui-block">
					<div class="ui-block-title">
						<h6 class="title">Featured Posts</h6>
					</div>
				</div>

				 <% 
					for (const [key, value] of Object.entries(Newuser.blogPost)){
				%>
				<div class="ui-block">
					<!-- Post -->
					
					<article class="hentry blog-post blog-post-v3 featured-post-item">
					
						<div class="post-thumb">
							<img src="/images/img/post1.jpg" alt="photo">
							<a href="#" class="post-category bg-purple">INSPIRATION</a>
						</div>
					
						<div class="post-content">
					
							<div class="author-date">
								by
								<a class="h6 post__author-name fn" href="#"><%=value.author%></a>
								<div class="post__date">
									<time class="published" datetime="2017-03-24T18:18">
										- 5 MONTHS ago
									</time>
								</div>
							</div>
					
							<a href="/blog/more/<%=value._id%>" class="h4 post-title"><%=value.title%></a>
					
							<div class="post-additional-info inline-items">
					
								<ul class="friends-harmonic">
									<li>
										<a href="#">
											<img src="img/icon-chat26.png" alt="icon">
										</a>
									</li>
									<li>
										<a href="#">
											<img src="img/icon-chat27.png" alt="icon">
										</a>
									</li>
									<li>
										<a href="#">
											<img src="img/icon-chat2.png" alt="icon">
										</a>
									</li>
								</ul>
								<div class="names-people-likes">
									206
								</div>
					
								<div class="comments-shared">
									<a href="#" class="post-add-icon inline-items">
										<svg class="olymp-speech-balloon-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-speech-balloon-icon"></use></svg>
										<span>97</span>
									</a>
								</div>
					
							</div>
						</div>
					
					</article>
					
					<!-- ... end Post -->

				</div>
				<% } %>

			</aside>
		</div>

	</div>

</div>




<!-- Window-popup-CHAT for responsive min-width: 768px -->

<div class="ui-block popup-chat popup-chat-responsive" tabindex="-1" role="dialog" aria-labelledby="update-header-photo" aria-hidden="true">

	<div class="modal-content">
		<div class="modal-header">
			<span class="icon-status online"></span>
			<h6 class="title" >Chat</h6>
			<div class="more">
				<svg class="olymp-three-dots-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-three-dots-icon"></use></svg>
				<svg class="olymp-little-delete js-chat-open"><use xlink:href="svg-icons/sprites/icons.svg#olymp-little-delete"></use></svg>
			</div>
		</div>
		<div class="modal-body">
			<div class="mCustomScrollbar">
				<ul class="notification-list chat-message chat-message-field">
					<li>
						<div class="author-thumb">
							<img src="img/avatar14-sm.jpg" alt="author" class="mCS_img_loaded">
						</div>
						<div class="notification-event">
							<span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks</span>
							<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
						</div>
					</li>

					<li>
						<div class="author-thumb">
							<img src="img/author-page.jpg" alt="author" class="mCS_img_loaded">
						</div>
						<div class="notification-event">
							<span class="chat-message-item">Don’t worry Mathilda!</span>
							<span class="chat-message-item">I already bought everything</span>
							<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:29pm</time></span>
						</div>
					</li>

					<li>
						<div class="author-thumb">
							<img src="img/avatar14-sm.jpg" alt="author" class="mCS_img_loaded">
						</div>
						<div class="notification-event">
							<span class="chat-message-item">Hi James! Please remember to buy the food for tomorrow! I’m gonna be handling the gifts and Jake’s gonna get the drinks</span>
							<span class="notification-date"><time class="entry-date updated" datetime="2004-07-24T18:18">Yesterday at 8:10pm</time></span>
						</div>
					</li>
				</ul>
			</div>

			<form class="need-validation">

		<div class="form-group label-floating is-empty">
			<label class="control-label">Press enter to post...</label>
			<textarea class="form-control" placeholder=""></textarea>
			<div class="add-options-message">
				<a href="#" class="options-message">
					<svg class="olymp-computer-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-computer-icon"></use></svg>
				</a>
				<div class="options-message smile-block">

					<svg class="olymp-happy-sticker-icon"><use xlink:href="svg-icons/sprites/icons.svg#olymp-happy-sticker-icon"></use></svg>

					<ul class="more-dropdown more-with-triangle triangle-bottom-right">
						<li>
							<a href="#">
								<img src="img/icon-chat1.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/icon-chat2.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/icon-chat3.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/icon-chat4.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/icon-chat5.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/icon-chat6.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/icon-chat7.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/icon-chat8.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/icon-chat9.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/icon-chat10.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/icon-chat11.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/icon-chat12.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/icon-chat13.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/icon-chat14.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/icon-chat15.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/icon-chat16.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/icon-chat17.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/icon-chat18.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/icon-chat19.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/icon-chat20.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/icon-chat21.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/icon-chat22.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/icon-chat23.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/icon-chat24.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/icon-chat25.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/icon-chat26.png" alt="icon">
							</a>
						</li>
						<li>
							<a href="#">
								<img src="img/icon-chat27.png" alt="icon">
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>

	</form>
		</div>
	</div>

</div>

<!-- ... end Window-popup-CHAT for responsive min-width: 768px -->



<a class="back-to-top" href="#">
	<img src="svg-icons/back-to-top.svg" alt="arrow" class="back-icon">
</a>



<!-- JS Scripts -->
<% include partials/footer%>
	<% include partials/profile_tap%>
